.btn-blue, #create {
	background-color: #6D71DD;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
 #create {
 	margin: 30px;
 }